<!doctype html>
<html>
<head>
    <title>穿衣助手 - 搭配购,有折扣</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta charset='utf-8' />
    <link rel="stylesheet" type="text/css" href="@PATH_LIB_STYLE@" />
    <link rel="stylesheet" type="text/css" href="@PATH_INDEX_STYLE@" />
</head>
<body>
<div id="wrapper"></div>
<script type="text/javascript">window.GLOBAL={};</script>
<script type="text/javascript" src="@PATH_LIB_JS@"></script>
<script type="text/javascript" src="@PATH_INDEX_JS@"></script>
</body>
</html>